<%# Jade Phaneuf %>
<%# 2020-12-08 %>
<%= stylesheet_link_tag 'admin' %>
<h1> Section administrative </h1>
<%= image_tag("coffeehouse2.jpg") %>
<h4><%= link_to "Page Principale", "/" %></h4>
<h4><%= link_to "Ajouter une recette (+)", "/ajoutRecette" %></h4>

<h1> Liste des recettes groupées par utilisateur</h1>

<% @users.each do |u| %>
    <h3> Utilisateur: <%= u.prenom %> <%= u.nom %> </h3>
    <h4> Recette : </h4>
    <p>    
        <% u.recettes.each do |r| %>
            - <%= r.titre %> <%= link_to "Details", "/recette/#{r.id}" %><br/> 
        <% end %>
    </p>
<% end %>



