<!--Jade Phaneuf 2020-12-03-->

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
    <%= link_to 'Page Principale', "/", method: :get, class:"w3-bar-item w3-button"  %>
    <% if user_signed_in? %>
        <% if current_user.is_admin == true %>
            <%= link_to "Administration", "/admin/recette", class:"w3-bar-item w3-button"%>
        <% end %>
        <p><%= current_user.nom %>
        <%= link_to 'Mes recettes', "mesrecettes", method: :get, class:"w3-bar-item w3-button"%>
        <%= link_to "LogOut", destroy_user_session_path, method: :delete, class:"w3-bar-item w3-button"%>
    <% else %>
        <%= link_to 'LogIn', new_user_session_path, method: :get, class:"w3-bar-item w3-button" %>
    <% end %>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-center w3-padding-16">My Food</div>
  </div>
</div>